@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Didact+Gothic');
button {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.row{
    margin-right: 0;
    margin-left: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
    background: white;
}
ul{
    list-style-type: none;
}
/*nav*/
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.donate{
    margin-right: 10%;
}
.shadow{
    text-shadow: #767676 2px 2px 10px;
}
.logo{
    width: 100%;
    max-width: 350px;
}
.back{
    background-color: white;
}
.more{
    margin-right: 2%;
}
.btn{
    display:block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: .2rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out;
    background-color: transparent;
}
a:hover {
    text-decoration: none;
    color: #905af1;
}
.btn:hover{
    color: #28a745;
}

.menu{
    width: 100%;
    position: relative;
    min-width: 30px;
    max-width: 30px;

}
.hide{
    opacity: 0;
}
.wobble:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}



/*end nav*/


/*side menu*/
.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    overflow-y: scroll;
    z-index: 1000;
}
.navbar-side-item {
    padding: 0;
    margin: 0;
}
.card{
    border: 1px solid transparent;
    padding: 0;
    border-image-source: url(../images/line.png);
    border-image-repeat: repeat;
    border-image-slice: 30;
    border-image-width: 5px;
}
.card-body {
    padding: 0 0 3px 0;
}
.card-header {
    padding: 0 1.25rem;
}

.list-group-item:first-child{
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}
.list-group-item:last-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item{
    border: none;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}
.side-link {
    padding-left: 2rem;
}
.navbar-side {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #343a40;
    opacity: 0.6;
    z-index: 990;
}
.padins{
    padding-left: 15%;
    background-color: #b5b5b5;
}
a{
    color: #28a745;
}

.social {
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
}
.less-margin-bt{
    margin-bottom: 0;
}
.social a{
    text-align: center;
    color: black;
    transition: color .3s ease-out;
}
.social a:hover{
    color: #28a745;
}

/*mission*/
.white{
    padding-top: 3.5%;
    margin-top: 4%;
    padding-bottom: 3.5%;
    margin-bottom: 4%;
}
.news{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 3.5%;
    margin-bottom: 4%;
}
.updates div h4 {
    color: #28a745;
}
.updates div p{
    max-width: 500px;
}
.read-more{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-right: 6%;
}


/*video*/
.video iframe{
    max-width: 640px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    min-height: 300px;
    border: 1px solid #343a40;
    box-shadow: 1px 1px 10px 0 #495057;
}
.featherlight-inner {
    width: 640px;
    height: 320px;
    max-width: 100%;
    max-height: 100%;
}
/*carousel*/
.carousel{
    padding-top: 7%;
}
.main-img{
    filter: brightness(75%);
    -webkit-mask-image :
            -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(60%, rgb(255, 255, 255)),
            color-stop(95%, rgba(0,0,0,0))
    );
}

.carousel-caption{
    padding-bottom: 25%;
    left: 0;
    right: 0;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.carousel-caption h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
}
.carousel-caption p {
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: .1rem;
    text-align: justify;

}
.carousel-control-prev-icon {
    background-image: url("../images/left.svg");
}
.carousel-control-next-icon {
    background-image: url("../images/right.svg");
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}
.mission{
    font-size: 3rem;
}

/*report it*/
.title{
    font-size: 2rem;
}
.space{
    padding-top: 4%;
}
.card-title {
    margin-top: .75rem;
    text-align: center;
}
.report {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 3.5rem;
    text-align: center;
}
.card-img-top {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
}
.card-body h5{
    color: black;
    transition: .3s ease-in-out;
}

.cover img{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
}

.cover:hover img{
    -webkit-transform: translate3d(0px, -10px, 0px);
    transform: translate3d(0px, -10px, 0px);
    filter: grayscale(100%);
}
.cover:hover h5{
    color: #28a745;
}
.card-deck{
    margin-right: 0;
    margin-left: 0;
}
/*freedoms*/
.circle img{
    max-width: 150px;
}
.circle h3{
   text-align: center;
    color: #28a745;
    margin-top: 5%;
}

/*newsletter*/
.form-control{
    /*font-family: 'Amatic SC', cursive;*/
    font-size: 1.1rem;
    letter-spacing: .2rem;
    height: 60px;
    border-radius: 2.25rem;
}
.newsletter{
    font-family: 'Amatic SC', cursive;
    letter-spacing: .2rem;
    color: white;
    font-size: 3rem;
}
.sign-up{
    border-radius: 2.25rem;
    border: 2px solid #b8e2c0;;
    height: 60px;
    transition: .2s ease-in-out;
}
.form-row{
    margin: 0;
}
.sign-up:hover{
    color: white;
    background-color: #1a7930;
    border-color: #f5f5f5;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    color: white;
    background-color: #b5b5b5;
    border-color: #606c75;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.18);
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.18);
}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.18);
}
/*foot*/
.green{
   background-color: #28a745;
    margin-bottom: 0;
}
.gray{
    background-color: rgba(0, 0, 0, 0.8);
}
.info{
    font-family: 'Amatic SC', cursive;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    padding-left: 5%;
    text-align: right;
}

.small{
    font-size: 16px;
}
.awards img{
    max-width: 150px;
    max-height: 100px;
    margin-bottom: 10%;
}
.more-left{
    padding-left: 5%;
}
.pad{
    padding-top: 5%;
}
.pad-bot{
    padding-bottom: 2%;
}
.color{
    color: #e2e2e2;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
}
.color:hover{
    color:#28a745;
}
.list{
    padding-left: 20px;
}
.list li a, .info li a{
    color: white;
    transition: color .2s ease-in-out;
}
.list li a:hover, .info li a:hover{
    color: #28a745;
}
.list li{
    line-height: 2rem;
    font-size: 1.1rem;
}

.info li{
    line-height: 2rem;
}
/*.info li a {*/
    /*color: white;*/
    /*transition: color .2s ease-in-out;*/
/*}*/
/*.info li a:hover {*/
    /*color: #28a745;*/
/*}*/

/*about*/
.about{
    margin-top: 10%;
}
ul li h6{
    font-weight: 700;
}
.fox{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*doante page*/
.lol{
    margin-top: 11%;
    padding-bottom: 5%;
}
.no{
    padding-left: 0;
}
.lilspace{
    padding-top: 1%;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a745;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.35);
}
.yy{
    visibility: hidden;
}
.donate-but{
    border-radius: 2.25rem;
    border: 2px solid;
    height: 60px;
    transition: .2s ease-in-out;
    border-color: #28a745;
}
.donate-title{
    background-color: transparent;
    border-bottom: none;
}
.donate-title h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 3.5rem;
}
.pigs{
    position: absolute;
    margin-left: 10%;
    margin-top: 6%;
}

#amounts{
    padding-left: 2%;
}
.down{
    width: 100%;
    display: inline;
}
label.error
{
    color: #28a745;
    width: 300px;
}
.bold{
    font-weight: 700;
    padding-top: 4%;
}
.card-body a {
    color: #000000;
    transition: .3s background-color ease-out;
}
.card-body a:hover{
    background-color: #28a745;
    color: white;
}
.card {
    margin-top: 5%;
}

/*issues page*/
.card-title:hover{
    color: #28a745;
}
.issues{
    margin-top: 10%;
}
.card h4 {
    font-weight: 700;
}
.no-top{
    margin-top: 0;
}



@media (min-width: 576px) {
    .navbar-side{
        width: 75%;
    }
    .nav-ct{
        padding-bottom: .5%;
    }
}
@media (max-width: 576px) {
    .navbar-side{
        width: 75%;
    }
    .navbar-brand{
        font-size: 3rem;
    }
    .navbar-brand p {
        font-size: 2rem;
    }
    .nav-ct{
        text-align: center;
        padding-left: 11%;
        padding-right: 0;
    }
    .logo{
        width: 100%;
        max-width: 96%;
        position: relative;
        top: 0;
        left: 2%;
        margin-right: 0;
    }
    .bg-dark {
        border-bottom: 10px solid #28a745;
    }
    .awards{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .email{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .contact{
        padding-top: 5%;
    }

}

@media (min-width: 768px) {
    .navbar-side{
        width: 50%;
    }
}

@media (max-width: 992px) {
    .lol {
        margin-top: 13%;
    }
    .newsletter{
        margin-top: 10%;
        font-size: 2rem;
    }
    .form-control, .sign-up{
        height: 50px;
    }
    .form-box{
        margin-top: .7%;
    }
    .sign-up{
        margin-top: 5%;
        padding: 0 5%;
    }

}
@media (max-width: 767.98px) {
    .newsletter{
        margin-top: 0;
        font-size: 2.5rem;
    }
    .form-box{
        margin-top: 2%;
    }
    .info{
        text-align: left;
    }
    .more-left h4, .list{
       text-align: center;
        align-content: center;
    }
    .list {
        padding-left: 0;
    }
    .about, .issues{
        margin-top: 15%;
    }
}
@media (min-width: 1500px) {
    .carousel{
        padding-top: 5%;
    }
}
@media (max-width: 1124px) {

}
@media (min-width: 992px) {
    .navbar-side{
        width: 25%;
    }
    .pad{
        padding-right: 0;
    }
}
@media (max-width: 576px) {
    .btn{
        font-size: 1.5rem;
    }
    .menu{
        max-width: 20px;
        min-width: 20px;
    }
    .back{
        padding: 0;
    }
    .news, .report,.donate-title{
        font-size: 2.5rem;
    }

}








